.inline{
	display: inline;
}
a :hover {
	text-decoration: none;
}
.btn-dark a {
	color: white;
}
section{
}
.header{}
menu {
	padding-top: 50px;
}
.navbar{
}
.menu{}
.main{}
.footer{}